body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  border: 1px solid #333333;
  overflow: hidden;
  position: absolute;
  margin:20px;
}

.game-info {
  margin-left: 20px;
}

.game-ui {
  position: absolute;  
  right: 10px;  
  top: 20px;
  width: 25%;
}

/* for virutalized list */
.list {
  height: 55vh
}

/*  game accordion style */
.accordion {
  overflow: scroll;
  height: calc(95vh - 0.095vh - 1px);
  border-radius: 2px;
  border: 1px solid #250101;
  background-color: #fff3ca;
}

.accordion-child {
  width: 96%; 
  margin-left: 2%;
  height: 96%;
  margin-top: 2%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.rotate-button {
  position: relative;
  z-index: 2147483647;
}

.center-button {
  position: relative;
  z-index: 2147483647;
}

.building-button {
  position: relative;
  z-index: 2147483647;
}